<div class="container">
<div class="row alert alert-info">
  <div class="col">
    <h2>Phone Book Application</h2>
    <p>Powered by Angular</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 alert alert-warning" style="height: 500px;">
    <p>
      <button [routerLink]="['/home']" class="btn btn-secondary" style="width: 100%;">
        Home
      </button>
    </p>
    <p>
      <button [routerLink]="['/add-contact']" class="btn btn-secondary" style="width: 100%;">
        Add new contact
      </button>
    </p>
    <p>
      <button [routerLink]="['/contact-list']" class="btn btn-secondary" style="width: 100%;">
      Contact List
      </button>
    </p>
  </div>
  <div class="col col-sm-8">
    <!-- <app-home></app-home> -->
    <!-- <app-contact-list></app-contact-list> -->
    <!-- <app-add-contact></app-add-contact> -->
    <!-- <edit-contact></edit-contact> -->
    <router-outlet></router-outlet>
  </div>
</div>
</div>