<h3>List of all contact {{filteredContacts.length}}</h3>
<contact-counter (onRadioChange)="filterContacts($event)" [all]= getAllContactsCount() [male]= getMaleContactsCount() [female]=getFemaleContactsCount()></contact-counter>
<div class="list-group">
    <div *ngFor="let c of filteredContacts" class="list-group-item">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{c.picture}}" width="100px" height="150px" style="border-radius:5px;"/>
            </div>
            <div class="col-sm-8">
                <h4>{{c.gender | initials}} {{c.firstname}} {{c.lastname}}</h4>
                <p>{{c.city}} {{c.state}} </p>
                <p>{{c.phone}}</p>
                <p>Gender: {{c.gender}}</p>
                    <button class="btn btn-success">Edit</button>
                    <button class="btn btn-danger" (click)="deleteContact(c.id)">Delete</button>
                    <!-- <contact-delete (onDeleteContactById)="deleteContact(c.id)"></contact-delete> -->
            </div>
    </div>
</div>