<h3>List of all contact</h3>
<div class="list-group">
    <div *ngFor="let c of contacts" class="list-group-item">
        <div class="row">
            <div class="col-sm-4">
                <img src="{{c.picture}}" width="100px" height="150px" style="border-radius:5px;"/>
            </div>
            <div class="col-sm-8">
                <h4>{{c.gender | initials}} {{c.firstname}} {{c.lastname}}</h4>
                <p>{{c.city}} {{c.state}} </p>
                <p>{{c.phone}}
                    <button class="btn btn-success">Edit</button>
                    <button class="btn btn-danger">Delete</button>
            </div>
    </div>
</div>